<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

    <div class="container">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>

        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>

        <script type='text/javascript'>
          (function(d) {
            var scriptTrack = document.createElement('script');
            scriptTrack.src = 'https://dev.monetrack/track.maximize.js';
            scriptTrack.async = true;
            document.getElementsByTagName('head')[0].appendChild(scriptTrack);
          })(document);
        </script>

        <%= yield :monetrack_script %>

        <script>
          function makeid()
          {
              var text = "";
              var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

              for( var i=0; i < 12; i++ )
                  text += possible.charAt(Math.floor(Math.random() * possible.length));

              return text;
          }
          //For test lead transaction
          var current_user = <%=raw (try_spree_current_user ? try_spree_current_user.as_json(only: :email) : {email: "anonymous@example.com"}).to_json %>
          //For test lead transaction
          $(document).ready(function(){
            $('#existing-customer #new_spree_user').on('submit', function(){
                TrackM.setActionID('signin');
                TrackM.setActionEmail(current_user.email);
                TrackM.setOrderID(makeid());
                TrackM.lead('https://dev.monetrack.com');
            });

            $('#new-customer #new_spree_user').on('submit', function(){
                TrackM.setActionID('signup');
                TrackM.setActionEmail(current_user.email);
                TrackM.setOrderID(makeid());
                TrackM.lead('https://dev.monetrack.com');
            });

            $('.navbar-form').on('submit', function(){
              TrackM.setActionID('search');
              TrackM.setActionEmail(current_user.email);
              TrackM.setOrderID(makeid());
              TrackM.lead('https://dev.monetrack.com');
            });

            $('[href="/logout"]').on('click', function(){
              TrackM.setActionID('logout');
              TrackM.setActionEmail(current_user.email);
              TrackM.setOrderID(makeid());
              TrackM.lead('https://dev.monetrack.com');
            });


          })

        </script>
      </div>
    </div>
  </body>
</html>
